#intro {
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}
#HTML {
  background-color: cornflowerblue;
  font-family: Helvetica;
}
#css {
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  text-align: center;
}